[user]
	name = 3timesv
	email = vivek.verma662ha@gmail.com
[alias]
	st = status
	ci = commit
	cl = clone
	cfg = config --global
	co = checkout
	graph = log --all --graph --decorate --oneline
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	grep = auto
[http]
	version = HTTP/1.1
	postBuffer = 1048576000
